<!DOCTYPE html>
<HTML>
<HEAD>
    <meta charset="utf-8">
    <title>Some Website</title>
</HEAD>
<BODY>
    <h1>{{pageTitle}}</h1>
    <p>{{screamIt WelcomeMessage}}</p>
    {{> footer}}
</BODY>
</HTML>